@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Kasa.SprzedarzModel
@{
    ViewData["Title"] = "Sprzedaż";
    Layout = "_Layout_Kasa";
}
<body>
    <div class="container m-5">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black shadow" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Sprzedaj Bilet</p>

                                <form method="post" class="m-4">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="klient" class="form-control">
                                                @foreach (var a in Model.k)
                                                {
                                                    <option value="@a.id">@a.imie @a.nazw</option>
                                                }
                                            </select>
                                            <label class="form-label" for="klient">Imię i Nazwisko Klienta</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">

                                            <select name="wyciag" class="form-control">
                                                @foreach (var a in Model.w)
                                                {
                                                    <option value="@a.id">@a.nazwa</option>
                                                }
                                            </select>

                                            <label class="form-label" for="wyciag">Wyciąg</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="number" name="ilosc" class="form-control" />
                                            <label class="form-label" for="ilosc">Ilość zjazdów</label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Sprzedaj" class="btn btn-primary btn-block mb-4" asp-page-handler="Bilet" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="m-3">
                        <p class="text-center h3 fw-bold ">Zarejestruj Klienta</p>
                        <form method="post" class="m-3">
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" name="imie" class="form-control" />
                                    <label class="form-label" for="imie">Imię</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" name="nazwisko" class="form-control" />
                                    <label class="form-label" for="nazwisko">Nazwisko</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="email" name="email" class="form-control" />
                                    <label class="form-label" for="email">Email</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" name="haslo" class="form-control" />
                                    <label class="form-label" for="haslo">Hasło</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center m-2">

                                <input type="submit" value="Zarejestruj" class="btn btn-primary btn-block mb-4" asp-page-handler="Rejestracja" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-5">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black shadow" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Sprzedaj Karnet</p>
                                <form method="post" class="m-4">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="klient" class="form-control">
                                                @foreach (var a in Model.k)
                                                {
                                                    <option value="@a.id">@a.imie @a.nazw</option>
                                                }
                                            </select>
                                            <label class="form-label" for="klient">Imię i Nazwisko Klienta</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">

                                            <select name="stok" class="form-control">
                                                @foreach (var a in Model.s)
                                                {
                                                    <option value="@a.id">@a.nazwa</option>
                                                }
                                            </select>

                                            <label class="form-label" for="stok">Stok</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="czas">
                                                <option value="4">4h</option>
                                                <option value="8">8h</option>
                                                <option value="12">12h</option>
                                            </select>
                                            <label class="form-label" for="czas">Czas trwania</label>
                                        </div>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="status">
                                                <option value="0">Nie</option>
                                                <option value="1">Tak</option>
                                            </select>
                                            <label class="form-label" for="status">Czy aktywować karnet od razu?</label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Sprzedaj" class="btn btn-primary btn-block mb-4" asp-page-handler="Karnet" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
