@page
@model Narciarze_v_2.Pages.Strefa_Klienta.Raport_klientModel
@{
    ViewData["Title"] = "Raport zakupów";
    Layout = "_Layout_Klient";
    if (HttpContext.Session.GetString("_klient_id") == null)
    {
        Response.Redirect("../Index");
    }
}
<div>

    <div class="fluid-container m-5">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center mt-4">Karnety</h2>
                <div class="table-responsive text-center m-4">

                    <div style="height:200px;overflow-y:scroll">
                        <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm" cellspacing="0" width="100%">
                            <thead class="table-dark">
                                <tr>
                                    <th class="th-sm">ID Karnetu</th>
                                    <th class="th-sm">Status</th>
                                    <th class="th-sm">Pozostały czas</th>
                                    <th class="th-sm">Nazwa Stoku</th>
                                    <th class="th-sm">Data Aktywacji</th>
                                    <th class="th-sm">Ilośc godzin</th>
                                    <th class="th-sm">Cena</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var var in Model.karnety)
                                {
                                    <tr>
                                        <td>@var.idKar</td>
                                        <td>@var.statusKar</td>
                                        <td>@var.pozCzas</td>
                                        <td>@var.nazwaStoku</td>
                                        <td>@var.dAktywacji</td>
                                        <td>@var.czasBilet</td>
                                        <td>@var.cena</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container m-5">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center mt-4">Bilety</h2>
                <div class="table-responsive text-center m-4">

                    <div style="height:200px;overflow-y:scroll">
                        <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm" cellspacing="0" width="100%">
                            <thead class="table-dark">
                                <tr>
                                    <th class="th-sm">ID Biletu</th>
                                    <th class="th-sm">Ilość zjadów</th>
                                    <th class="th-sm">Nazwa Wyciągu</th>
                                    <th class="th-sm">Cena za przejazd</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var var in Model.bilety)
                                {
                                    <tr>
                                        <td>@var.idBil</td>
                                        <td>@var.ilZjazdow</td>
                                        <td>@var.nWyciagu</td>
                                        <td>@var.cena</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>