@page
@model Narciarze_v_2.Pages.Strefa_Klienta.Raport_klientModel
@{
    ViewData["Title"] = "Raport zakupów";
    Layout = "_Layout_Klient";
    if (HttpContext.Session.GetString("_klient_id") == null)
    {
        Response.Redirect("../Index");
    }
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class="fluid-container m-5" id="Grid">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center mt-4">Karnety</h2>
                <div class="table-responsive text-center m-4">

                    <div style="height:200px;overflow-y:scroll">
                        <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm" cellspacing="0" width="100%">
                            <thead class="table-dark">
                                <tr>
                                    <th class="th-sm">ID Karnetu</th>
                                    <th class="th-sm">Status</th>
                                    <th class="th-sm">Pozostały czas</th>
                                    <th class="th-sm">Nazwa Stoku</th>
                                    <th class="th-sm">Data Aktywacji</th>
                                    <th class="th-sm">Ilośc godzin</th>
                                    <th class="th-sm">Cena</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var var in Model.karnety)
                                {
                                    <tr>
                                        <td>@var.idKar</td>
                                        <td>@var.statusKar</td>
                                        <td>@var.pozCzas</td>
                                        <td>@var.nazwaStoku</td>
                                        <td>@var.dAktywacji</td>
                                        <td>@var.czasBilet</td>
                                        <td>@var.cena</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    <div class="container m-5">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center mt-4">Bilety</h2>
                <div class="table-responsive text-center m-4">

                    <div style="height:200px;overflow-y:scroll">
                        <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm" cellspacing="0" width="100%">
                            <thead class="table-dark">
                                <tr>
                                    <th class="th-sm">ID Biletu</th>
                                    <th class="th-sm">Ilość zjadów</th>
                                    <th class="th-sm">Nazwa Wyciągu</th>
                                    <th class="th-sm">Cena za przejazd</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var var in Model.bilety)
                                {
                                    <tr>
                                        <td>@var.idBil</td>
                                        <td>@var.ilZjazdow</td>
                                        <td>@var.nWyciagu</td>
                                        <td>@var.cena</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- tu wykresy-->
    <div class="container m-5">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center mt-4">Ile z nami przejechałeś metrów dzięki biletom</h2>
                <div class="d-flex justify-content-center m-2">
                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    <script>
                        const json = "@foreach (var var in Model.raport_bilety)
                        {
                            @var.json;
                        }"
                        var data2 = JSON.parse(json.replace(/&quot;/g,'"'));

                        var labels = data2.map(function (d) {
                            return new Date(d.data_sprzedazy);
                        });

                        var values = data2.map(function (d) {
                            return d.suma_kumulowana;
                        });

                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Metry',
                                    data: values,
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    xAxes: [{
                                        type: 'time',
                                        time: {
                                            unit: 'day'
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- wykres 2-->
    <div class="container m-5">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center mt-4">Ile z nami spędziłeś godzin dzięki karnetom</h2>
                <div class="d-flex justify-content-center m-2">
                    <canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
                    <script>
                        const json1 = "@foreach (var var in Model.raport_karnety)
                        {
                            @var.json;
                        }"
                        var data3 = JSON.parse(json1.replace(/&quot;/g, '"'));

                        var labels = data3.map(function (d) {
                            return new Date(d.data_sprzedazy);
                        });

                        var values = data3.map(function (d) {
                            return d.suma_kumulowana;
                        });

                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Godziny',
                                    data: values,
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    xAxes: [{
                                        type: 'time',
                                        time: {
                                            unit: 'day'
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>


    </div>
<form method="post">
    <input type="hidden" name="GridHtml" />

    <div class="d-flex justify-content-center m-2">
        <input type="submit" id="btnSubmit" value="Eksportuj" class="btn btn-primary btn-block mb-4" asp-page-handler="Export" />
    </div>
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>