@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.cennikiModel
@{
    if (HttpContext.Session.GetInt32("_prac_uid") != 2)
    {
        Response.Redirect("Zarzad");
    }
    ViewData["Title"] = "Cenniki";
    Layout = "_Layout_Zarzad";
}
<body>
    <div class="fluid-container m-5">
        <div class="row">

            <div class="col-md-6">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black shadow" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Cennik Bilety</p>

                                <div class="table-responsive text-center m-4">
                                    <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Stok</th>
                                                <th>Ilośc Godzin</th>
                                                <th>Cena karnetu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cena in Model.ceny_k)
                                            {
                                                <tr>
                                                    <td>@cena.Nazwa</td>
                                                    <td>@cena.Wymiar_godz</td>
                                                    <td>@cena.Cena zł</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black shadow" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Cennik Karnety</p>

                                <div class="table-responsive text-center  m-4">
                                    <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Wyciąg</th>
                                                <th>Cena za wjazd</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cena in Model.ceny_b)
                                            {
                                                <tr>
                                                    <td>@cena.Nazwa</td>
                                                    <td>@cena.Cena_p zł</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

