@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.raporty_zarzad_Model
@{
    if (HttpContext.Session.GetInt32("_prac_uid") != 2)
    {
        Response.Redirect("Zarzad");
    }
    ViewData["Title"] = "Cenniki";
    Layout = "_Layout_Zarzad";
}
<body>
    <div class="fluid-container m-5">
        <div class="row">

            <div class="col-md-6">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black shadow" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Raport sprzedaży karnetów</p>

                                <div class="table-responsive text-center m-4">
                                    <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Miesiąc</th>
                                                <th>Rok</th>
                                                <th>Suma sprzedaży</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cena in Model.rap_k)
                                            {
                                                <tr>
                                                    <td>@cena.mies</td>
                                                    <td>@cena.rok</td>
                                                    <td>@cena.suma</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black shadow" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Raport sprzedaży biletów</p>

                                <div class="table-responsive text-center  m-4">
                                    <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Miesiąc</th>
                                                <th>Rok</th>
                                                <th>Suma sprzedaży</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cena in Model.rap_b)
                                            {
                                                <tr>
                                                    <td>@cena.mies</td>
                                                    <td>@cena.rok</td>
                                                    <td>@cena.suma</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

