@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.ZmianaCennikaModel
@{
    ViewData["Title"] = "Edycja cennika";
    Layout = "_Layout_Zarzad";
}


<body>
    <div class="container m-5">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center mt-4">Edycja Cennika</h2>

                <form method="post" class="m-4">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">

                            <select name="wyciag" class="form-control">
                                @foreach (var a in Model.w)
                                {
                                    <option value="@a.id">@a.nazwa</option>
                                }
                            </select>

                            <label class="form-label" for="klient">Wybierz Wyciąg</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center m-2">
                        <input type="submit" value="Wyszukaj" class="btn btn-primary btn-block mb-4" asp-page-handler="Wyciag" />
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">

                            <select name="cennik" class="form-control">
                                @foreach (var a in Model.c)
                                {
                                    <option value="@a.id">@a.rozp - @a.zak</option>
                                }
                            </select>
                            <label class="form-label" for="klient">Wybierz cennik</label>
                        </div>
                    </div>
                        <div class="d-flex justify-content-center m-2">
                        <input type="submit" value="Wybierz" class="btn btn-primary btn-block mb-4" asp-page-handler="Cennik" />
                    </div>
                    <div class="d-flex justify-content-center m-2">
                        <input type="submit" value="Nowy" class="btn btn-primary btn-block mb-4" asp-page-handler="Cennik_n" />
                    </div>           
                    
                    @foreach(var a in Model.e)
                    {
                        <p>Nazwa:</p><input type="text" name="nazwa" value="@a.nazwa" readonly>
                        <p>Data rozpoczęcia</p><input type="text" name="rozp" value="@a.rozp" readonly>
                        <p>Data zakończenia:</p><input type="text" name="zak" value="@a.zak" readonly>
                        <p>Cena:</p><input type="text" name="cena" value="@a.cena">
                        <br />
                        <input type="submit" value="Edytuj" class="btn btn-primary btn-block mb-4" asp-page-handler="Edytuj" />
                    }

                    @foreach (var a in Model.ee)
                    {
                        <p>Nazwa:</p>

                        <input type="text" name="nazwa" value="@a.nazwa" readonly>
                        <p>Data rozpoczęcia</p>

                        <input type="text" name="rozp" value="@a.rozp" readonly>
                        <p>Data zakończenia:</p>

                        <input type="text" name="zak" value="@a.zak" readonly>
                        <p>Cena:</p>

                        <input type="text" name="cena" value="@a.cena">
                        <br />
                        <input type="submit" value="Dodaj" class="btn btn-primary btn-block mb-4" asp-page-handler="Dodaj" />
                    }

                           
                        
                </form>

            </div>
        </div>
    </div>

</body>

