@page
@model Narciarze_v_2.Pages.Strefa_Klienta.CennikModel
@{
    ViewData["Title"] = "Cennik";
}

<div class="container m-5">
    <div class="row gt-5">
        <div class="col-md-6 rounded-3 shadow" style="background-color: #EAFDFC">
            <h2 class="text-center m-4">Cennik Bilety</h2>

            <div class="table-responsive text-center m-4">
            <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Stok</th>
                            <th>Ilośc Godzin</th>
                            <th>Cena karnetu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cena in Model.ceny_k)
                        {
                            <tr>
                                <td>@cena.Nazwa</td>
                                <td>@cena.Wymiar_godz</td>
                                <td>@cena.Cena zł</td>
                            </tr>
                        }
                    </tbody>
                </table>
             </div>
        </div>
   

  
        <div class="col-md-6 rounded-3 shadow" style="background-color: #EAFDFC">
            <h2 class="text-center m-4">Cennik Karnety</h2>

            <div class="table-responsive text-center  m-4">
                <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                    <thead class="table-dark">
                            <tr>
                                <th>Wyciąg</th>
                                <th>Cena za wjazd</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cena in Model.ceny_b)
                            {
                                    <tr>
                                        <td>@cena.Nazwa</td>
                                        <td>@cena.Cena_p zł</td>
                                    </tr>
                            }
                        </tbody>
                 </table>
            </div>
        </div>
    </div>
</div>