@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.HarmonogramModel
@{
    ViewData["Title"] = "Edycja Harmonogramu";
    Layout = "_Layout_Admin";
}
<!--
To DO:
    - Błąd: Nie działa powiadomienie o błędnym wprowadzeniu dat do nowego Harmonogramu, poniżej opisany if gdzie występuje błąd
-->

<body>
    <div class="fluid-container m-5">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Dodaj Harmonogram</p>

                                <form method="post" class="m-3">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">

                                            <label class="form-label" for="nazwaWyciagDodajHarm">Dodaj harmonogram dla Wyciągu:</label>
                                            <select name="nazwaWyciagDodajHarm" class="form-control">
                                                @foreach (var wyciag in Model.wyciagi)
                                                {
                                                    <option value="@wyciag.id">@wyciag.nazwa</option>
                                                }
                                            </select>

                                            <label class="form-label mt-2" for="stanWyciagHarmDodaj">Stan Wyciągu w danym terminie:</label>
                                            <select name="stanWyciagHarmDodaj" class="form-control">
                                                <option value="1">Czynny</option>
                                                <option value="0">Nieczynny</option>
                                            </select>

                                            <label class="form-label mt-2" for="dataRozpHarmDodaj">Data rozpoczęcia obowiązywania harmonogramu:</label>
                                            <input type="date" name="dataRozpHarmDodaj" class="form-control" value="" />

                                            <label class="form-label mt-2" for="dataZakHarmDodaj">Data zakończenia obowiązywania harmonogramu:</label>
                                            <input type="date" name="dataZakHarmDodaj" class="form-control " />

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-block mb-4" asp-page-handler="DodajHarm" />
                                    </div>

                                </form>

                                <!-- Nie wstawia komunikatu, wchodzi w if ale nie wstawia komunikatu-->
                                @if (Model.error == true)
                                {
                                    <div class="alert alert-danger" role="alert"> This is a danger alert—check it out!</div>
                                    int dummy = 0;
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fluid-container m-5">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Edytuj Harmonogram</p>
                                
                                <form method="post" class="m-3">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="nazwaWyciagHarm" class="form-control">
                                                @foreach (var wyciag in Model.wyciagi)
                                                {
                                                    <option value="@wyciag.id">@wyciag.nazwa</option>
                                                }
                                            </select>
                                            <label class="form-label" for="nazwaWyciagHarm">Nazwa Wyciągu</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Wybierz" class="btn btn-primary btn-block mb-4" asp-page-handler="Wyciag"/>
                                    </div>

                                    <select name="wybierzHarm" class="form-control">
                                        @foreach (var info in Model.infoHarmonogram)
                                        {
                                            @if (info.stan == "True")
                                            {
                                                <option value="@info.id">Czynny w @info.dataRozp - @info.dataZak</option>
                                            }
                                            else if (info.stan == "False")
                                            {
                                                <option value="@info.id">Nieczynny w dniach @info.dataRozp - @info.dataZak</option>
                                            }


                                        }
                                    </select>
                                    <label class="form-label" for="wybierzHarm">Harmonogram</label>

                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Wybierz" class="btn btn-primary btn-block mb-4" asp-page-handler="Harmonogram" />
                                    </div>


                                

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">

                                            <input type="text" name="stanWyciaguEdytuj" class="form-control" />
                                            <label class="form-label" for="stanWyciagEdytuj">Stan Wyciągu</label>

                                            <input type="text" name="nazwaWyciaguEdytuj" class="form-control" value="" />
                                            <label class="form-label" for="nazwaWyciagEdytuj">Data rozpoczęcia</label>

                                            <input type="text" name="harmonogramWyciąguEdytuj" class="form-control " />
                                            <label class="form-label" for="harmonogramWyciagEdytuj">Data zakończenia</label>

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-block mb-4" asp-page-handler="EdytujWyciag" />
                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
