@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.HarmonogramModel
@using System;
@using System.Globalization;

@{
    ViewData["Title"] = "Edycja Harmonogramu";
    Layout = "_Layout_Admin";
    if (HttpContext.Session.GetInt32("_prac_uid") != 3)
    {
        Response.Redirect("Administrator");
    }
}
<!--
To DO:
    - Błąd: Nie działa powiadomienie o błędnym wprowadzeniu dat do nowego Harmonogramu, poniżej opisany if gdzie występuje błąd
-->

<body>
    <div class="fluid-container m-5">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Podgląd Harmonogram</p>

                                <form method="post" class="m-3">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="podgladHarmonogram" class="form-control">
                                                @foreach (var wyciag in Model.wyciagi)
                                                {
                                                    <option value="@wyciag.id">@wyciag.nazwa</option>
                                                }
                                            </select>
                                            <label class="form-label" for="nazwaWyciagHarm">Nazwa Wyciągu</label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Wybierz" class="btn btn-primary btn-block mb-4" asp-page-handler="ZobaczHarm" />
                                    </div>

                                    @if (Model.wyswietl == true)
                                    {
                                        <div class="table-responsive text-center m-4">
                                            <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>Stan</th>
                                                        <th>Data Rozpoczęcia</th>
                                                        <th>Data Zakończenia</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var harm in Model.harmonogramy)
                                                    {
                                                        <tr>
                                                            @if (harm.stan == "True")
                                                            {
                                                                <td style="color: green">Czynny</td>
                                                            }
                                                            else if (harm.stan == "False")
                                                            {
                                                                <td style="color: red">Nieczynny</td>
                                                            }


                                                            <td>@harm.dataRozp</td>
                                                            <td>@harm.dataZak</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="d-flex justify-content-center m-2">
                                            <input type="submit" value="Zamknij" class="btn btn-primary btn-block mb-4" asp-page-handler="Przeladuj" />
                                        </div>
                                    }
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fluid-container m-5">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Dodaj Harmonogram</p>

                                <form method="post" class="m-3">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">

                                            <label class="form-label" for="nazwaWyciagDodajHarm">Dodaj harmonogram dla Wyciągu:</label>
                                            <select name="nazwaWyciagDodajHarm" class="form-control">
                                                @foreach (var wyciag in Model.wyciagi)
                                                {
                                                    <option value="@wyciag.id">@wyciag.nazwa</option>
                                                }
                                            </select>

                                            <label class="form-label mt-2" for="stanWyciagHarmDodaj">Stan Wyciągu w danym terminie:</label>
                                            <select name="stanWyciagHarmDodaj" class="form-control">
                                                <option value="1">Czynny</option>
                                                <option value="0">Nieczynny</option>
                                            </select>

                                            <label class="form-label mt-2" for="dataRozpHarmDodaj">Data rozpoczęcia obowiązywania harmonogramu:</label>
                                            <input type="date" name="dataRozpHarmDodaj" class="form-control" required />

                                            <label class="form-label mt-2" for="dataZakHarmDodaj">Data zakończenia obowiązywania harmonogramu:</label>
                                            <input type="date" name="dataZakHarmDodaj" class="form-control " required />

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-block mb-4" asp-page-handler="DodajHarm" />
                                    </div>

                                </form>

                                <!-- Nie wstawia komunikatu, wchodzi w if ale nie wstawia komunikatu-->
                                @if (Model.error == true)
                                {
                                    <div class="alert alert-danger" role="alert"> This is a danger alert—check it out!</div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fluid-container m-5">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Edytuj Harmonogram</p>

                                <form method="post" class="m-3">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="nazwaWyciagHarm" class="form-control">
                                                @foreach (var wyciag in Model.wyciagi)
                                                {
                                                    <option value="@wyciag.id">@wyciag.nazwa</option>
                                                }
                                            </select>
                                            <label class="form-label" for="nazwaWyciagHarm">Nazwa Wyciągu</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Wybierz" class="btn btn-primary btn-block mb-4" asp-page-handler="Wyciag" />
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="wybierzHarm" class="form-control">
                                                @foreach (var info in Model.infoHarmonogram)
                                                {
                                                    @if (info.stan == "True")
                                                    {
                                                        <option value="@info.id">Czynny w @DateTime.Parse(info.dataRozp) - @DateTime.Parse(info.dataZak)</option>
                                                    }
                                                    else if (info.stan == "False")
                                                    {
                                                        <option value="@info.id">Nieczynny w dniach @DateTime.Parse(info.dataRozp) - @DateTime.Parse(info.dataZak)</option>
                                                    }


                                                }
                                            </select>
                                            <label class="form-label" for="wybierzHarm">Harmonogram</label>



                                            <select name="stanEdytujHarm" class="form-control">

                                                <option value="1">Czynny</option>
                                                <option value="0">Nieczynny</option>

                                            </select>
                                            <label class="form-label" for="stanEdytujHarm">Stan Wyciągu</label>

                                            <input type="date" name="dataRozpEdytujHarm" class="form-control" />
                                            <label class="form-label" for="dataRozpEdytujHarm">Data rozpoczęcia</label>

                                            <input type="date" name="dataZakEdytujHarm" class="form-control " />
                                            <label class="form-label" for="dataZakEdytujHarm">Data zakończenia</label>

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center m-2">
                                        <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-block mb-4" asp-page-handler="EdytujWyciagHarm" />
                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
